SERVICE_NAME=auth
SERVICE_BIND_IP=0.0.0.0
SERVICE_BIND_PORT=8080
SERVICE_LOG_LEVEL=4

DB_DSN=
DB_PROTOCOL=mongodb
DB_HOSTS=localhost:27017
DB_DATABASE=teos
DB_USERNAME=
DB_PASSWORD=
DB_OPTIONS="RetryWrites=true"