{{ define "components/auth_brand"}}
              <!-- Logo -->
              <div class="app-brand justify-content-center mb-6">
                {{ template "components/auth_logo"}}
              </div>
              <!-- /Logo -->
{{end}}